body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 136px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#menuLateral ul:last-child {
  padding-bottom: 1.5rem!important;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; 
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

#btn-menu{
  border: 2px solid;
}
/* classe de efeito do botão menu */
.border-btn-menu{
  border: 5px solid;
  background-image: linear-gradient(0deg, rgb(247, 240, 200), transparent);
}

/* padrão alerta */
.alertaErro{
  background-color: rgb(243, 54, 29);
  color:white;
}
.alertaSucesso{
  background-color:rgb(50, 223, 35);
  font-weight: bold;
  font-size: 13pt;
}

.alertaErro, .alertaSucesso {
  margin: 20px;
}
/* conteudo principal*/
.principal{
  min-height: 83vh;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 60px;
}
/* menu lateral*/
#menuLateral{
  background-color: rgb(226, 232, 233);
}
/* main */
main{
  padding-top:25px;
}

/* footer */
.footer {
  color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #17a2b8;
}
